{% capture body %}
    <section>
        <h1>Tag: {{ tag }}</h1>
        <h2>Page {{ page }}</h2>
    </section>
    <section class="centered">
        {% for post in posts %}
            <div class="post-wrapper">
                <h2>
                    <a class="content-button post-item" href="{{ post.url }}">
                        {{ post.Title }}
                    </a>
                </h2>
                <h5>{{ post.Date | date }}</h5>
                <h4 class="post-summery">{{ post.Summary}}</h4>
            </div>
        {% endfor %}
        {% if page > 1 or page < pages %}
            <div>
                {% if page > 1 %}
                    <a href="/blog/tags/{{ tag }}/{{ page | minus: 1 }}/">
                        >> Previous Page
                    </a>
                {% endif %}

                {% if page < pages %}
                    <a href="/blog/tags/{{ tag }}/{{ page | plus: 1}}/">
                        >> Next Page
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </section>
{% endcapture %}
{% capture title %}{{ "Tag "| append: tag }} {% endcapture %}
{% render "base", title: title, body: body %}
